<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>FilmHub Admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
     
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Sidebar Start -->
        <div th:replace="~{uploader-common :: sidebar}"></div>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
			<nav th:replace="~{uploader-common :: navbar}"></nav>
            <!-- Navbar End -->

            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <!-- Table Name Start -->
                            <h5 class="mb-4">YOUR DATABASE</h5>
							<!-- Table Name End -->

							<!-- Table Info Start -->							
                            <p th:text="${message}" id="film-table-info" class="text-info"></p>
							<!-- Table Info End -->
							
							<!-- Deleting Film Notification Start -->
                            <div class="alert alert-success alert-dismissible fade show" role="alert" th:unless="${deletingSuccessMessage == null}">
                                <i class="fa fa-exclamation-circle me-2"></i>Film deleted successfully.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:unless="${deletingFailureMessage == null}">
                                <i class="fa fa-exclamation-circle me-2"></i>Failed to delete film.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>		
                            <!-- Deleting Film Notification End -->
                            
							<!-- Deleting Film Session Notification Start -->
                            <div class="alert alert-success alert-dismissible fade show" role="alert" th:unless="${deletingSessionSuccessMessage == null}">
                                <i class="fa fa-exclamation-circle me-2"></i>Film session deleted successfully.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:unless="${deletingSessionFailureMessage == null}">
                                <i class="fa fa-exclamation-circle me-2"></i>Failed to delete film session.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>		
                            <!-- Deleting Film Session Notification End -->
                            
                            <!-- Adding Film Notification Start -->
                            <div class="alert alert-success alert-dismissible fade show" role="alert" th:unless="${addingSuccessMessage == null}">
                                <i class="fa fa-exclamation-circle me-2"></i>New film added successfully.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:unless="${addingFailureMessage == null}">
                                <i class="fa fa-exclamation-circle me-2"></i>Failed to add new film.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>								                            
							<!-- Adding Film Notification End -->
							       
                            <!-- Adding Film Session Notification Start -->
                            <div class="alert alert-success alert-dismissible fade show" role="alert" th:unless="${addingSessionSuccessMessage == null}">
                                <i class="fa fa-exclamation-circle me-2"></i>New film session added successfully.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:unless="${addingFailureMessage == null}">
                                <i class="fa fa-exclamation-circle me-2"></i>Failed to add new film session.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>								                            
							<!-- Adding Film Session Notification End -->

							<!-- Start Buttons -->                     
                            <div>
                            	<button type="button" class="btn btn-success m-2" th:onclick="window.location.href='/uploader/add-film'">
                            		<i class="fa fa-plus me-2"></i>Add New Film</button>
				                <button type="button" class="btn btn-warning m-2" th:onclick="window.location.href='/uploader/update-film'">
				                	<i class="fa fa-pencil-alt me-2"></i>Update A Film</button>
                            	<button type="button" class="btn btn-success m-2" th:onclick="window.location.href='/uploader/add-session'">
                            		<i class="fa fa-plus me-2"></i>Add New Session</button>
								<button type="button" class="btn btn-danger m-2"><i class="fa fa-trash me-2"></i>Delete All Films</button>
                            	<button type="button" class="btn btn-danger m-2" id="deleteSelectedFilmsButton" th:if="${selectedFilms > 0}">
                            		<i class="fa fa-trash-o me-2"></i>Delete Selected Films</button>
                            </div>
							<!-- End Delete Buttons -->
							
                            <table id="film-table" class="table table-hover">
                                <thead>
                                    <tr>
                                    	<th scope="col"></th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Duration</th>
                                        <th scope="col">Language</th>
                                        <th scope="col">Subtitles</th>
                                        <th scope="col">Director</th>
                                        <th scope="col">Actors</th>
                                        <th scope="col">Minimum Age</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Sessions</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
				              	<tbody>
                                    <tr th:each="film : ${films}">
										<td>
											<a th:href="@{/uploader/delete/{filmId}(filmId=${film.id})}">
								        		<i class="fa fa-trash me-2"></i>
								        	</a>
								       	</td>
                                        <td th:text="${film.id}"></td>
							            <td th:text="${film.title}"></td>
							            <td th:text="${film.formatDuration()} + ' minutes'"></td>
							            <td th:text="${film.language}"></td>
							            <td th:text="${film.subtitles}"></td>
							            <td th:text="${film.director}"></td>
							            <td th:text="${film.actors}"></td>
							            <td th:text="${film.minimumAge}"></td>
							            <td th:text="${film.startDate}"></td>
							            <td th:text="${film.endDate}"></td>
							            <td>
											<ul>
											    <li th:each="filmSession, iteration : ${film.filmSessions}">
											    	<h6 class="mb-4">Session 
											    		<span th:text="${iteration.index + 1}"></span>
											    	</h6>
											        <span>Date: <span th:text="${filmSession.calendarDate}"></span></span><br>
											        <span>On: <span th:text="${#strings.toUpperCase(filmSession.weekDay)}"></span></span><br>
											        <span>Start At: <span th:text="${filmSession.startHour}"></span></span><br>
											        <span>End At: <span th:text="${filmSession.endHour}"></span></span><br>
											        <span>Cinema: <span th:text="${filmSession.cinema}"></span></span><br>
											        <span>City: <span th:text="${filmSession.city}"></span></span>
											    </li>
											</ul>
							            </td>
							            <td>
								        	<a th:href="@{/uploader/update/{filmId}(filmId=${film.id})}">
								        		<button type="button" class="btn btn-warning m-2">
								        			<i class="fa fa-pencil-alt me-2"></i>Update Film
								        		</button>
							        		</a>
								        	<a th:href="@{/uploader/add-session/{filmId}(filmId=${film.id})}">
								        		<button type="button" class="btn btn-success m-2">
								        			<i class="fa fa-plus me-2"></i>Add New Session
								        		</button>
							        		</a>
										    <div th:each="filmSession, iteration : ${film.filmSessions}">
									        	<a th:href="@{/uploader/delete-session/{filmSessionId}(filmSessionId=${filmSession.id})}">
									        		<button type="button" class="btn btn-danger m-2">
									        			<i class="fa fa-trash me-2"></i>
									        			<span th:text="'Delete Session ' + ${iteration.index + 1}"></span>
									        		</button>
								        		</a>
										    </div>
							            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->

            <!-- Footer Start -->
            <div th:replace="~{uploader-common :: footer}"></div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/chart/chart.min.js}"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/lib/tempusdominus/js/moment.min.js}"></script>
    <script th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"></script>
    <script th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/utility.js}"></script>
</body>

</html>