<!-- Sidebar Start -->
<div th:fragment="sidebar" class="sidebar pe-4 pb-3">
	<nav class="navbar bg-secondary navbar-dark">
    	<a th:href="@{/viewer/films}" class="navbar-brand mx-4 mb-3">
        	<h3 class="text-primary"><i class="fa fa-film me-2"></i>FilmHub</h3>
    	</a>
    	<div class="d-flex align-items-center ms-4 mb-4">
        	<div class="position-relative">
            	<img class="rounded-circle" th:src="@{/img/viewer.jpg}" alt="" style="width: 60px; height: 60px;">
                	<div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                 <h5 class="mb-0">Anonymous Viewer</h5>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="#" class="nav-item nav-link"><i class="fa fa-film me-2"></i>'Riverdale': This Is What's Not Working About Season 7</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-film me-2"></i>Why Does ‘The Simpsons’ First Season Look Like That?</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-film me-2"></i>We Wouldn't Have Star Trek Without Lucille Ball</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-film me-2"></i>The Ending Of The Boogeyman Explained</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-film me-2"></i>Guardians Of The Galaxy's First Footloose Reference Made Kevin Bacon's Jaw Drop</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-film me-2"></i>Where to Watch 'Magic Mike's Last Dance': Is it Streaming?</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->

<!-- Navbar Start -->
<nav th:fragment="navbar" class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <form class="d-none d-md-flex ms-4">
        <input class="form-control bg-dark border-0" type="search" placeholder="Search">
    </form>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-bell me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">News</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Harry Potter Chapter 4 updated</h6>
                    <small>Just now</small>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">John Wick 5 In Early Development</h6>
                    <small>15 minutes ago</small>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Netflix Bankruptcy</h6>
                    <small>47 minutes ago</small>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item text-center">See all notifications</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" th:src="@{/img/viewer.jpg}" alt="" style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex">Anonymous Viewer</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a th:href="@{/sign-in}" class="dropdown-item">Sign In</a>
                <a href="#" class="dropdown-item">Sign Up</a>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Footer Start -->
<div th:fragment="footer" class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">FilmHub</a>, All Right Reserved. 
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Customized By <a href="#">Dz&M</a>
                <br>Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->